<div class="contenedor">
    <h2>Bienvenido a AlquilaYA!</h2>
    {{#if status}}
    <h4>Estamos muy contentos de tenerte conectado</h4>
    <p>Solo si estas logueado puedes enterarte porque elegimos este simpatico nombre</p>
    <p>Agradecemos a la colaboracion de ChatGPT que nos ayudo en el proceso de la creacion de esta pagina... en cuanto al nombre es un nombre que evoca rapidez y eficiencia en la búsqueda y reserva de alojamientos.</p>
    {{else}}
    <h4>Todavia no estas logueado, ingresa y enterate de todas las novedades</h4>
    {{/if}}
</di >