<div class="contenedor">
    <h2>Gracias por tu visita, te esperamos pronto.</h2>
    <p>Seras redireccionado al Login</p>
</di >

<script>
    setTimeout( () => {
        document.location.href="/api/usuario/login";
    }, 2000)
</script>