
  <div class="login-box">
    <h2>Login</h2>
    <form id="login" action="/api/usuario/login" method="POST">
      <div class="user-box">
        <input type="text" name="user" required>
        <label>Username</label>
      </div>
      <div class="user-box">
        <input type="password" name="pass" required>
        <label>Password</label>
      </div>
      <a href="#" type="submit" form="login">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
      </a>
    </form>
  </div>
